body {
	box-sizing: border-box;
	margin: 0px;
	background-color: #121212;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

main {
	display: flex;
	justify-content: space-between;
}

footer {
	position: absolute;
	top: 82vh;
	left: 42.5vw;
	color: white;
	font-size: 1.5rem;
}

p {
	color: white;
	font-size: 1.5rem;
}

.sidebar {
	display: flex;
	height: 100vh;
	width: 26.47vw;
}

.sideBarImage {
	height: 100vh;
	width: 26.47vw;
}

.logoBlack {
	width: 26.47vw;
	background-color: black;
	height: 150px;
	position: absolute;
	left: 0;
	top: 110px;
	opacity: 0.5;
}

.logoWriting {
	font-size: 4rem;
	color: white;
	position: absolute;
	left: 200px;
	top: 150px;
	font-family: "Times New Roman", Times, serif;
}

.logo {
	position: absolute;
	top: 115px;
	left: 50px;
}

.sign-up {
	display: flex;
	align-content: center;
	width: 66vw;
	height: 100vh;
	flex-direction: column;
}

.contentExplanation {
	width: 50vw;
	height: 33vh;
	margin-top: 80px;
	margin-left: 160px;
}

.signUpForm {
	display: flex;
	width: 50vw;
	height: 33vh;
	margin-left: 160px;
	background-color: #2e2d2d;
	justify-content: space-around;
	align-items: flex-start;
	border-width: 2px;
	border-style: double;
	border-color: lightskyblue;
}

.signUpContent {
	position: absolute;
	top: 42vh;
	font-size: 2.2rem;
	font-weight: bolder;
	color: lightskyblue;
}

.signUpFormLeft {
	margin-top: 70px;
}

.signUpFormRight {
	margin-top: 70px;
}

label {
	color: white;
	font-size: 1.4rem;
	font-weight: bold;
}

#gender {
	width: 185px;
	height: 20px;
}

#birthdate {
	width: 185px;
	height: 20px;
}

#submit {
	margin-top: 40px;
	height: 2.5rem;
	width: 10rem;
	background-color: lightskyblue;
	font-size: 1.2rem;
	font-weight: bold;
	position: absolute;
	top: 63vh;
}

a {
	color: lightskyblue;
	text-decoration: none;
}
